@use "base" as *;

.login-frame {
    width: 100%;
    min-height: 80vh;
    height: 100%;
    padding: 4rem 0;
    background: linear-gradient(rgba($color-darkest, .4), rgba($color-darkest, .9)), url("@/assets/images/bg_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexlayout();
}

.login-form * {
    outline: none;
    border: none;
}

.login-form {
    height: min-content;
    width: 400px;
    background-color: rgba(255, 62, 246, 0.05);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: .25rem;
    backdrop-filter: blur(1.2rem);
    border: 2px solid rgba(255,255,255,0.05);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 3rem 2rem;
    transition: style ease .7s;
    .login-title {
        font-family: $font-redhat-display;
        font-size: $fs-lg;
        color: $color-light;
        font-weight: 500;
    }
    .login-label {
        display: block;
        font-family: $font-redhat-display;
        color: $color-light;
        font-size: $fs-sm;
        margin-top: $margin-sm;
        font-weight: 500;
    }
    .login-input_txt {
        display: block;
        height: 3rem;
        width: 100%;
        background-color: rgba(255,255,255,0.05);
        border: 1px solid (rgba($color-darkest, 0));
        color: $color-light;
        padding: $padding-sm;
        margin-top: $margin-xs;
        font-size: $fs-sm;
        font-weight: 300;
        transition-property: background-color;
        transition-duration: .7s;
        &:hover {
            background-color: rgba(255,255,255,0.15)
        }
        &:focus {
            border: 1px solid $color-light;
        }
    }
    ::placeholder {
        font-family: $font-redhat-display;
        color: $color-light;
        font-size: $fs-sm;
        margin-top: $margin-sm;
        font-weight: 300;
    }
    .form-button {
        font-family: $font-redhat-display;
        margin-top: $margin-md;
        width: 100%;
        color: $color-light;
        padding: $padding-xs 0;
        font-size: 1.4rem;
        font-weight: 400;
        background-color: rgba(255,255,255,0.2);
        border: 2px solid $color-light;
        backdrop-filter: blur(6rem);
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            background-color: rgba(255,255,255,0.15);
            border: 2px solid $color-light;
        }
    }
    .form-link {
        display: inline-block;
        text-decoration: none;
        font-family: $font-redhat-display;
        color: $color-light;
        font-weight: 400;
        font-size: $fs-sm;
        margin-top: $margin-xs;
        &:hover {
            font-style: italic;
            border-bottom: 1px solid $color-light;
        }
    }
}


@media (min-width: $screen-xs) and (max-width: $screen-md) {

    .login-form {
        height: min-content;
        width: 320px;}
}